@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

body {
	background-color: #e5e8e8;
	color: #4e545c;
	margin: 0;
	font-family: 'Quicksand';
	
	
}

body.dark-mode {
	background-color: #000401;
	color: #e5e8e8;
}

main {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content:right;
	
	
	
	
	
}

footer {
	width: 100%;
	background-color: #4e545c;
	padding: 16px;
	color: #e5e8e8;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-weight: 400;
}

footer.dark-mode {
	background-color: #8d9797;
	color: #000401;
}

button {
	border-radius: 40px;
	font-size: 1.0rem;
	height: 20px;
	width: 100px;
	border: none;
	background-color: #4e545c;
	color: #e5e8e8;
	transition: all 0.5s linear;
	margin: 10px 10px ;
	align-self:baseline;
}

button:hover {
	background-color: #000401;
}

button.dark-mode {
	background-color: #e5e8e8;
	color: #4e545c;
}

button.dark-mode:hover {
	background-color: #4e545c;
	color: #e5e8e8;
}

.modo{
	
	font-size: 1rem;
	align-self:baseline;	
	margin: 10px 0px;	
	
}

img{

	width: 190px;   
    margin-top: 10px;
	margin-right: 820px;
	margin-left: 20px;
	
	
}

header{

    display: flex;
	border: solid black;
	border-width: 2px;
	width: 98%;
	margin:10px 20px 10px 20px;
	justify-content: center;
	
	
	
	
}

header.dark-mode{

    
    display: flex;
	border: solid white;
	border-width: 2px;
	margin:10px 20px 10px 20px;
	
}

.titulo{
       
	font-size: 2rem;
	font-style: italic;
	
	

}



